 
 <div>
   <%= image_tag @journal.get_activity_image(100,100)%>
   <%= @journal.journal%>
 </div>
 <% @journal_tags.each do |tag| %>
   <%= link_to tag.name,search_tag_group_journals_path(tag_id: tag.id)%><%="(#{tag.journals.count})" %>
 <% end %>