<div class="container-xxl mt-5 mx-5">

  <h2><mark>マイページ</mark></h2>

  <div class="customer-information mt-5">
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 0;"><strong>登録情報</strong></h4>
      <%= link_to "編集する", class: "btn btn-success col-1 ml-3" %>
    </div>
    <table class="col-6 table table-bordered mt-3 mb-5">
      <tr>
        <td class="table-active border border-dark">名前</td>
        <td class="border border-dark"></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">カナ</td>
        <td class="border border-dark"></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">郵便番号</td>
        <td class="border border-dark"></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">住所</td>
        <td class="border border-dark"></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">電話番号</td>
        <td class="border border-dark"></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">メールアドレス</td>
        <td class="border border-dark">></td>
      </tr>
    </table>

  </div>
</div>
