<div class="container-xxl mt-5 mx-5">

  <h2><mark>マイページ</mark></h2>

  <div class="customer-information mt-5">
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 0;"><strong>登録情報</strong></h4>
      <%= link_to "編集する", edit_group_team_path, class: "btn btn-success col-1 ml-3" %>
    </div>
    <table class="col-6 table table-bordered mt-3 mb-5">
      <tr>
        <td class="table-active border border-dark">名前</td>
        <td class="border border-dark"><%= @team.name%></td>
      </tr>
      <tr>
        <td class="table-active border border-dark">人数</td>
        <td class="border border-dark"><%= @team.count%>人</td>
      </tr>
      <tr>
        <td class="table-active border border-dark">メールアドレス</td>
        <td class="border border-dark"><%= @team.email%></td>
      </tr>
    </table>

  </div>
</div>
