<div class="container">
  <div class="admin-customer pt-5">
    <h4 class="alert alert-secondary  col-2" role="alert">応募一覧</h4>
    <table class="table">
      <tr class="table-active">
        <th>団体名</th>
        <th>ジャンル</th>
        <th>活動エリア</th>
        <th>メールアドレス</th>
      </tr>
      <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= link_to entry.team.name, people_team_path(entry.team),  class: "text-dark"%>
        </td>
        <td><%= entry.team.genre %></td>
        <td><%= entry.team.area %></td>
        <td><%= entry.team.email%></td>
      </tr>
    <% end %>
    </table>
    <div class="pagenate">
    </div>
  </div>
</div>