<% if @team.favorited_by?(current_user) %>
    <p>
      <%= link_to team_bookmarks_path(@team), method: :delete do %>
        ♥<%= @team.bookmarks.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to team_bookmarks_path(@team), method: :post do %>
        ♡<%= @team.bookmarks.count %> いいね
      <% end %>
    </p>
  <% end %>